<!DOCTYPE html>
<html>
<head>
    <title>Styles</title>
</head>
<body>
    <h1>Styles</h1>
    <a href="/styles/add">Add New Style</a>
    <table border="1">
        <tr>
            <th>ID</th><th>Type</th><th>Origin Country</th><th>Description</th><th>Action</th>
        </tr>
        {% for s in styles %}
        <tr>
            <td>{{ s.style_id }}</td>
            <td>{{ s.type }}</td>
            <td>{{ s.origin_country }}</td>
            <td>{{ s.description }}</td>
            <td><a href="/styles/delete/{{ s.style_id }}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
