<!DOCTYPE html>
<html>
<head>
    <title>Tournaments</title>
</head>
<body>
    <h1>Tournaments</h1>
    <a href="/tournaments/add">Add New Tournament</a>
    <table border="1">
        <tr>
            <th>ID</th><th>Date</th><th>Venue</th><th>Level</th><th>Action</th>
        </tr>
        {% for t in tournaments %}
        <tr>
            <td>{{ t.tournament_id }}</td>
            <td>{{ t.date }}</td>
            <td>{{ t.venue }}</td>
            <td>{{ t.level }}</td>
            <td><a href="/tournaments/delete/{{ t.tournament_id }}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
